h1, h2, h3, h4, h5, h6, a, a:visited, .fa, a.hero-button, .footer2 h3, a.hero-button {
  color: #669940;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a, button, .button, .button:hover {
  background: #669940;
}
button, .button, .button:hover {
  border: 1px solid #669940;
}
.hero {
  border-top: 10px solid #669940;
  background: #000 url("../img/hero-citycampoak.png") 50% bottom; 
}
