body, h1, h2, h3, h4, h5, h6, button, .button, label, .sub-nav dt, .sub-nav dd, .sub-nav li {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, a, a:visited, .fa, a.hero-button, .footer2 h3, a.hero-button, .large {
  color: #83B845;
}
a:hover {
  color: #333;
}
[data-magellan-expedition] {
  background: #000;
}
header {
  padding-bottom: 20px;
  padding-top: 20px;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a, button, .button, .button:hover {
  background: #83B845;
}
.hero {
  background: #000 url("../img/hero.png") 50% bottom; 
}
.hero {
  border-top: 10px solid #83B845;
  margin-bottom: 30px; 
  padding-bottom: 130px;
  padding-top: 130px;
}
.line {
  border-bottom: 10px solid #efefef;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.footer {
  margin-top: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer a, .footer .icon, a.button, a.button:visited, .footer, .footer2, a.hero-button:hover, .hero h1, .hero h2, .hero, .sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover, .footer a, .footer2 a:hover {
  color: #fff;
}
button, .button, .button:hover {
  border: 1px solid #83B845;
}
a.button:hover, .footer, .footer2 {
  background: #000;
}
.fa-5 {
  font-size: 10em;
}
.fa-3 {
  font-size: 2em;  
}
.large {
  font-size: 4em;  
}
.supporter {
  margin-bottom: 20px;
  margin-top: 20px;
}
.speakers img {
  border-radius: 50%;
  margin-top: 1em;
  max-width: 150px;
}
.footer, .footer2 {
  bottom: 0;
  margin-bottom: 0;
  margin-top: 400px !important;
  padding-bottom: .5em;
  padding-top: .5em;
  position: fixed;
  width: 100%;
}
.footer2 {
  background: #333;
  margin-top: 30px !important;
  padding-bottom: 110px;
  padding-top: 50px;
  position: relative;
}
.footer .fa {
  color: #fff !important;
}
.footer p {
  margin: 0;
  padding: 0;
}
.footer .button {
  margin-top: .25em;
  margin-bottom: .25em;
}
