
h1, h2, h3, h4, h5, h6, a, a:visited, .fa, a.hero-button, .footer2 h3, a.hero-button {
  color: #0080ff;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a, button, .button, .button:hover {
  background: #0080ff;
}
button, .button, .button:hover {
  border: 1px solid #0080ff;
}
.hero {
  background: #000 url("../img/hero-citycampsac.jpg") no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 10px solid #0080ff;
}
