---
title: Cities
description: Communities that have hosted or are hosting CityCamps.
map: true
event-buttons: true
topics:
  - About
---

{% assign events = site.data.events %}

{%- assign countries = events | map: "addressCountry" | uniq | sort -%}

{% for country in countries %}
  <h2
    id="{{ country }}">
    {{ country }}
  </h2>

  {% assign country_events = events | where: "addressCountry", country %}

  {% if country == "US" %}
    {%- assign states = country_events | map: "addressRegion" | uniq | sort -%}

    {% for state in states %}
      {% if state %}
        <ul>
          <li>{{ state }}
            <ul>
              {% assign state_events = country_events | where: "addressRegion", state %}
              {% for event in state_events %}
                <li
                  {% if event.Status == "In progress" %}
                  class="fw-bold"
                  {% endif %}
                  >
                  <a
                    href="/events/{{event.slug}}"
                    >
                    {{ event.city }}</a>
                  {% if event.Status == "In progress" %}
                    <span class="text-secondary">
                      is being planned for {{ event.date | date: "%B %d, %Y"}}
                    </span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
  {% else %}
    <ul>
      {% for event in country_events %}
        <li>
          <a href="/events/{{event.slug}}">
            {{ event.city }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}