<script src="{{ site.baseurl }}/assets/css/bootstrap/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/css/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/css/bootstrap/js/bootstrap.min.js"></script>

<script>
  localStorage.setItem('theme', 'light'); // Always store light mode
  document.body.setAttribute('data-bs-theme', 'light');
  if (document.getElementById('theme-toggle-icon')) {
    document.getElementById('theme-toggle-icon').outerHTML = `<i class='fa-solid fa-moon' id='theme-toggle-icon'></i>`;
  }
</script>

<script>
  function copyLink() {
    const currentURL = window.location.href; // Get current page URL
  navigator.clipboard.writeText(currentURL).then(() => {
      alert("Link copied to clipboard!");
    });
  }
</script>