{% if page.layout == "home" %}
  <div class="bg-dark mb-3 border-bottom shadow py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h1 class="display-4 mb-4">{{ page.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          {% if page.description %}
            <p class="lead fs-4">{{ page.description }}</p>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
      </div>
    </div>
  </div>
{% elsif page.layout == "event" %}
  <div class="bg-dark mb-4 border-bottom shadow py-3">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <h1 class="display-4">{{ page.title }}</h1>
          {% if page.description %}
            <p class="lead">{{ page.city }}, {{ page.state }}, {{ page.country }}</p>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
      </div>
    </div>
  </div>
{% elsif page.layout == "post" %}
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h1 class="display-5">{{ page.title }}</h1>
        {% if page.description %}
          <p class="lead fs-4 pb-0 mb-0">{{ page.description }}</p>
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
{% elsif page.layout == "default" %}
  <h1 class="display-5 mb-2">{{ page.title }}</h1>
  {% if page.search == nil %}
    {% if page.description %}
      <p class="lead fs-4 mb-3 pb-4 border-bottom">{{ page.description }}</p>
    {% endif %}
  {% endif %}
  {% if page.search == true %}
    {% include search-lunr.html %}
  {% endif %}
{% elsif page.title == "Events" %}
  <div class="bg-dark mb-4 border-bottom shadow py-3">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <h1 class="display-4">{{ page.title }}</h1>
          {% if page.description %}
            <p class="lead">{{ page.description }}</p>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include event-buttons.html %}
      </div>
    </div>
  </div>
{% else %}
  <div class="bg-dark mb-4 border-bottom shadow py-3">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <h1 class="display-4">{{ page.title }}</h1>
          {% if page.description %}
            <p class="lead">{{ page.description }}</p>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
      </div>
    </div>
  </div>
{% endif %}