<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
    <button
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler ml-auto collapsed"
      data-target="#navbarSupportedContent"
      data-toggle="collapse"
      type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% for item in site.data.nav.docs %}
          {% if item.url %}
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-item nav-link {% if page.url contains item.url %}active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">
                <i class="{{ item.icon }}"></i>
                {{ item.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>