{% if page.website %}
<div class="fixed-bottom border-top register">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a
          href="{{ page.website }}"
          id=""
          aria-label="Register"
          class="btn btn-primary btn-lg">
          Register
        </a>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="fixed-bottom border-top register">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a
          href="{{ site.baseurl }}/organize"
          id=""
          aria-label="Register"
          class="btn btn-primary btn-lg">
          Organize a CityCamp
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}