<ul class="list-inline mb-1 fs-5">
  <li class="list-inline-item">
    <a
      class="link-body-emphasis"
      href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-linkedin me-1" aria-hidden="true"></i>
      <span class="visually-hidden">LinkedIn</span>
    </a>
  </li>
  <li class="list-inline-item">
    <a
      class="link-body-emphasis"
      href="https://bsky.app/share?url={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-bluesky me-1" aria-hidden="true"></i>
      <span class="visually-hidden">Bluesky</span>
    </a>
  </li>
  <li class="list-inline-item">
    <a
      class="link-body-emphasis"
      href="https://mastodon.social/share?url={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-mastodon me-1" aria-hidden="true"></i>
      <span class="visually-hidden">Mastodon</span>
    </a>
  </li>
  <li class="list-inline-item">
    <a
      class="link-body-emphasis"
      href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-x-twitter me-1" aria-hidden="true"></i>
      <span class="visually-hidden">X</span>
    </a>
  </li>
  <li class="list-inline-item">
    <a
      class="link-body-emphasis"
      href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-facebook me-1" aria-hidden="true"></i>
      <span class="visually-hidden">Facebook</span>
    </a>
  </li>
  <li class="list-inline-item">
    <a
      class="link-body-emphasis"
      href="mailto:?subject=Check this out&body={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-solid fa-envelope me-1" aria-hidden="true"></i>
      <span class="visually-hidden">Email</span>
    </a>
  </li>
  <li class="list-inline-item">
    <button
      class="dropdown-item"
      type="button"
      onclick="copyLink()">
      <i class="fa-solid fa-link me-1" aria-hidden="true"></i>
      <span class="visually-hidden">Copy link</span>
    </button>
  </li>
</ul>