---
layout: cards
---
{% include header.html %}
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="card-group">
        {% if include.limit %}
          {% assign limitVar = include.limit | plus: 0 %}
        {% endif %}
        {% if page.title == "Press" %}
          {% for item in site.data.press.docs %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">
                    <a href="{{ item.url }}" class="stretched-link nav-link">{{ item.title }}</a>
                  </h3>
                </div>
                <div class="card-footer text-muted small">
                  {{ item.source }}
                </div>
              </div>
            </div>
          {% endfor %}
        {% elsif page.title == "Connect" %}
          {% for item in site.data.connect.docs %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card text-center pt-4 pb-3 mx-2 mb-3 shadow">
                <div class="card-body">
                  <a href="{{ item.url }}" class="stretched-link nav-link">
                    <p>
                      <i class="{{ item.icon }} fa-3x text-shadow" aria-label="{{ item.title }}"></i>
                    </p>
                    <p class="card-title">{{ item.title }}</p>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% elsif page.title == "Events" %}
          {% for event in site.data.events %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card p-0 text-center mx-1 mb-3 shadow">
                <div class="card-body p-4">
                  <i class="fa-solid fa-calendar mb-3" aria-label="hidden"></i>
                  {% if event.url %}
                    <a href="{{ event.url }}" class="stretched-link nav-link">
                      <h2 class="h4">{{ event.name }}</h2>
                    </a>
                  {% else %}
                    <h2 class="h4">{{ event.name }}</h2>
                  {% endif %}
                  <p class="card-text">{{ event.location }}</p>
                </div>
                <div class="card-footer text-muted small">
                  {{ event.startDate }}
                </div>
              </div>
            </div>
          {% endfor %}
        {% elsif page.title == "News" %}
          {% include news.html %}
        {% else %}
          {% assign sorted_docs = site.pages | sort: 'title' %}
          {% for item in sorted_docs %}
            {% if item.icon %}
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
                <div class="card mx-2 my-2 pt-2">
                  <div class="card-body">
                    <i class="{{ item.icon }} fa-2x mb-3"></i>
                    <h2 class="h4 mb-3">
                      <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
                    </h2>
                    <p class="description">{{ item.description }}</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% include footer.html %}