---
layout: post
---

{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        {% if page.img-og %}
          {% include image.html %}
        {% endif %}
        <p class="border-bottom mb-4 pb-3">
          By
          {{ page.author }}
          / {% include date.html %}
        </p>
        <div class="post">
          {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" %}
          {% include topics.html %}
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
</main>
{% include footer.html %}