---
layout: post
---

{% include header.html %}
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        {% if page.img-og %}
          {% include image.html %}
        {% endif %}
        <p class="border-bottom mb-4 pb-3">
          By
          {{ page.author }}
          / {% include date.html %}
        </p>
        <div class="post">
          {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" %}
          {% include topics.html %}
          <div class="card mt-5 p-4 shadow">
            <h2 class="h4 m-0 pt-1 pb-4">Connect with CityCamp</h2>
            <ul>
              <li><a href="{{ site.baseurl }}/subscribe">Subscribe</a></li>
              <li><a href="{{ site.baseurl }}/community">Community</a></li>
              <li><a href="https://citycamp.bsky.social">Bluesky</a></li>
              <li><a href="https://instagram.com/citycamp_">Instagram</a></li>
              <li><a href="https://github.com/citycamp">GitHub</a></li>
              <li><a href="https://facebook.com/citycamp">Facebook</a></li>
              <li><a href="https://x.com/citycamp">X</a></li>
              <li><a href="https://citycamp.com/feed.xml">RSS</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
</main>
{% include footer.html %}