---
layout: profile
---

{% include header.html %}
{% include nav.html %}
<main>
        <div class="container profile-page">
            <div class="row">
                <div class="col-sm-3">
                  {% if page.avatar %}
                  <img
                src="{{ site.baseurl }}/assets/img/people/{{ page.avatar }}"
                alt="Photo of {{ page.name }}"
                title="{{ page.name }}"
                class="rounded-circle avatar-profile"
              />
              {% endif %}
                </div>
                <div class="col-sm-9">
                    <h1 class="display-4">{{ page.name }}</h1>
                    {{ content }}
                    <p class="profile-social">
                      {% if page.website %}
                    <a href="{{ page.website }}" aria-label="Website"
                      ><i class="fas fa-home fa-lg"></i
                    ></a>
                    {% endif %} 
                    {% if page.email %}
                    <a href="mailto:{{ page.email }}" aria-label="Email"
                      ><i class="fas fa-envelope fa-lg"></i
                    ></a>
                    {% endif %} {% if page.twitter_username %}
                    <a
                      href="https://twitter.com/{{ page.twitter_username }}"
                      aria-label="Twitter"
                      ><i class="fab fa-twitter fa-lg"></i
                    ></a>
                    {% endif %} {% if page.linkedin_link %}
                    <a href="{{ page.linkedin_link }}" aria-label="LinkedIn"
                      ><i class="fab fa-linkedin fa-lg"></i
                    ></a>
                    {% endif %} {% if page.facebook_link %}
                    <a href="{{ page.facebook_link }}" aria-label="Facebook"
                      ><i class="fab fa-facebook fa-lg"></i
                    ></a>
                    {% endif %}
                    {% if page.medium %}
                    <a href="{{ site.medium }}" aria-label="Medium"><i class="fab fa-medium fa-lg"></i></a>
                    {% endif %}
                    {% if page.youtube %}
                    <a href="{{ site.youtube }}" aria-label="YouTube"><i class="fab fa-youtube fa-lg"></i></a>
                    {% endif %}
                    {% if page.figma %}
                    <a href="{{ site.figma }}" aria-label="Figma"><i class="fab fa-figma fa-lg"></i></a>
                    {% endif %}
                    {% if page.github_username %}
                    <a
                      href="https://github.com/{{ page.github_username }}"
                      aria-label="GitHub"
                      ><i class="fab fa-github fa-lg"></i
                    ></a>
                    {% endif %} {% if page.instagram_username %}
                    <a
                      href="https://instagram.com/{{ page.instagram_username }}"
                      aria-label="Instagram"
                      ><i class="fab fa-instagram fa-lg"></i
                    ></a>
                    {% endif %} {% if page.flickr_link %}
                    <a href="{{ page.flickr_link }}" aria-label="Flickr"
                      ><i class="fab fa-flickr fa-lg"></i
                    ></a>
                    {% endif %}
                    {% if page.tumblr %}
                    <a href="{{ page.tumblr }}" aria-label="Tumblr"
                      ><i class="fab fa-tumblr fa-lg"></i
                    ></a>
                    {% endif %} {% if page.rss_link %}
                    <a href="{{ page.rss_link }}" aria-label="RSS"
                      ><i class="fas fa-rss fa-lg"></i
                    ></a>
                    {% endif %}
                </p>

                </div>
            </div>
        </div>

</main>
{% include analytics.html %}
{% include footer.html %}